.card {
  position: relative;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}

.card__title {
  margin: 12px 0 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__delete-btn {
  background: transparent url(../images/delete.svg) center no-repeat;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s ease;
}

.card__delete-btn:hover {
  background: transparent url(../images/delete-hover.svg) center no-repeat;
}

.card__like-btn {
  cursor: pointer;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background: transparent url("../images/union.svg") center no-repeat;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background: transparent url(../images/like-active.svg) no-repeat;
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    line-height: 1;
  }
  .card__image {
    height: 288px;
  }
  .card__like-btn {
    height: 20px;
    width: 25px;
  }
}
